<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="form-group" [ngClass]= "{ 'has-error' : invalidFirstName() }"> <!-- First Name -->
        <label for="fname" class="control=label">First Name</label>
        <input type="text" class="form-control" formControlName="fname" id="fname" name="fname" placeholder="Enter your first name..">
        <p *ngIf="invalidFirstName()" id="fname_error" class="help-block">Invalid first name.</p>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : invalidLastName() }"> <!-- Last Name -->
        <label for="lname" class="control=label">Last Name</label>
        <input type="text" class="form-control" formControlName="lname" id="lname" name="lname" placeholder="Enter your last name..">
        <p *ngIf="invalidLastName()" id="lname_error" class="help-block">Invalid last name.</p>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : invalidEmail() }" > <!-- Email -->
        <label for="email" class="control=label">Email</label>
        <input type="text" class="form-control" formControlName="email" id="email" name="email" placeholder="yourmail@mail.com">
        <p *ngIf="invalidEmail()" id="email_error" class="help-block">Invalid email.</p>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : invalidZipcode() }" > <!-- Zip Code -->
        <label for="zip" class="control=label">Zip Code</label>
        <input type="text" class="form-control" formControlName="zip" id="zip" name="zip" placeholder="######">
        <p *ngIf="invalidZipcode()" id="zip_error" class="help-block">Invalid zip code.</p>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : invalidPassword() }"> <!-- Password -->
        <label for="password" class="control=label">Password</label>
        <input type="text" class="form-control" formControlName="password" id="password" name="password" placeholder="********">
        <p *ngIf="invalidPassword()" id="password_error" class="help-block">Invalid password.</p>
    </div>

    <div class="form-group has-error"> <!-- Register Button -->
        <button type="submit" class="btn btn-primary">Register</button>
    </div>

</form>